.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.760254;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.962402;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls6{letter-spacing:-0.552000px;}
.lsa{letter-spacing:-0.240000px;}
.ls5{letter-spacing:-0.204400px;}
.ls9{letter-spacing:-0.173200px;}
.ls1{letter-spacing:-0.071200px;}
.ls3{letter-spacing:-0.035520px;}
.ls0{letter-spacing:0.000000px;}
.ls7{letter-spacing:0.035520px;}
.lsd{letter-spacing:0.203600px;}
.lsc{letter-spacing:0.240000px;}
.ls8{letter-spacing:0.275600px;}
.ls4{letter-spacing:0.408000px;}
.ls2{letter-spacing:0.584000px;}
.lsb{letter-spacing:1.200000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-11.075520px;}
._1{margin-left:-4.919040px;}
._0{margin-left:-2.723040px;}
._4{margin-left:-1.172320px;}
._2{width:1.214240px;}
._6{width:2.537280px;}
._3{width:9.547200px;}
.fc7{color:rgb(34,34,34);}
.fc6{color:rgb(89,89,89);}
.fc5{color:rgb(0,0,0);}
.fc4{color:rgb(88,88,88);}
.fc0{color:rgb(38,38,38);}
.fc1{color:rgb(0,96,168);}
.fc2{color:rgb(37,37,37);}
.fc3{color:rgb(0,111,192);}
.fs0{font-size:39.840000px;}
.fs2{font-size:44.160000px;}
.fs1{font-size:87.840000px;}
.y1{bottom:0.000000px;}
.y13{bottom:2.160000px;}
.y2f{bottom:2.400000px;}
.y6{bottom:11.640000px;}
.y7{bottom:12.120000px;}
.y12{bottom:13.680000px;}
.y2e{bottom:15.000000px;}
.y2d{bottom:15.960000px;}
.y2b{bottom:23.640000px;}
.y23{bottom:25.080000px;}
.y11{bottom:25.110000px;}
.y25{bottom:25.230000px;}
.y5{bottom:25.800000px;}
.y1d{bottom:29.760000px;}
.y2a{bottom:35.760000px;}
.y22{bottom:36.600000px;}
.y4{bottom:36.620000px;}
.y10{bottom:36.630000px;}
.y1c{bottom:41.900000px;}
.y29{bottom:47.880000px;}
.y21{bottom:48.120000px;}
.yf{bottom:48.150000px;}
.y20{bottom:59.640000px;}
.ye{bottom:59.670000px;}
.y28{bottom:59.880000px;}
.y27{bottom:60.000000px;}
.y2c{bottom:60.984000px;}
.y0{bottom:61.500000px;}
.y1b{bottom:62.900000px;}
.y1f{bottom:71.160000px;}
.yd{bottom:71.190000px;}
.y1a{bottom:78.980000px;}
.yc{bottom:82.590000px;}
.y19{bottom:91.100000px;}
.yb{bottom:94.110000px;}
.y26{bottom:104.300000px;}
.ya{bottom:105.630000px;}
.y18{bottom:112.220000px;}
.y9{bottom:117.150000px;}
.y17{bottom:124.220000px;}
.y16{bottom:140.300000px;}
.y15{bottom:152.420000px;}
.y24{bottom:191.660000px;}
.y1e{bottom:244.250000px;}
.y14{bottom:342.650000px;}
.y8{bottom:522.430000px;}
.y3{bottom:677.740000px;}
.y2{bottom:782.640000px;}
.hc{height:25.320000px;}
.h9{height:29.957813px;}
.ha{height:34.584000px;}
.h2{height:41.415703px;}
.h5{height:42.057656px;}
.hd{height:45.906562px;}
.h3{height:45.984000px;}
.h4{height:65.880000px;}
.hb{height:69.360000px;}
.h8{height:80.400000px;}
.h6{height:126.500000px;}
.h7{height:161.780000px;}
.h1{height:627.000000px;}
.h0{height:792.000000px;}
.w3{width:117.019981px;}
.w1{width:347.500000px;}
.w4{width:494.980000px;}
.w2{width:611.999991px;}
.w0{width:612.000000px;}
.x1{left:0.000009px;}
.x2{left:7.199981px;}
.x6{left:39.719981px;}
.x5{left:45.479981px;}
.x9{left:47.519981px;}
.x8{left:53.639981px;}
.x7{left:55.799981px;}
.xa{left:56.999981px;}
.x0{left:115.000000px;}
.x3{left:117.020000px;}
.x4{left:345.680000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls6{letter-spacing:-0.736000pt;}
.lsa{letter-spacing:-0.320000pt;}
.ls5{letter-spacing:-0.272533pt;}
.ls9{letter-spacing:-0.230933pt;}
.ls1{letter-spacing:-0.094933pt;}
.ls3{letter-spacing:-0.047360pt;}
.ls0{letter-spacing:0.000000pt;}
.ls7{letter-spacing:0.047360pt;}
.lsd{letter-spacing:0.271467pt;}
.lsc{letter-spacing:0.320000pt;}
.ls8{letter-spacing:0.367467pt;}
.ls4{letter-spacing:0.544000pt;}
.ls2{letter-spacing:0.778667pt;}
.lsb{letter-spacing:1.600000pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-14.767360pt;}
._1{margin-left:-6.558720pt;}
._0{margin-left:-3.630720pt;}
._4{margin-left:-1.563093pt;}
._2{width:1.618987pt;}
._6{width:3.383040pt;}
._3{width:12.729600pt;}
.fs0{font-size:53.120000pt;}
.fs2{font-size:58.880000pt;}
.fs1{font-size:117.120000pt;}
.y1{bottom:0.000000pt;}
.y13{bottom:2.880000pt;}
.y2f{bottom:3.200000pt;}
.y6{bottom:15.520000pt;}
.y7{bottom:16.160000pt;}
.y12{bottom:18.240000pt;}
.y2e{bottom:20.000000pt;}
.y2d{bottom:21.280000pt;}
.y2b{bottom:31.520000pt;}
.y23{bottom:33.440000pt;}
.y11{bottom:33.480000pt;}
.y25{bottom:33.640000pt;}
.y5{bottom:34.400000pt;}
.y1d{bottom:39.680000pt;}
.y2a{bottom:47.680000pt;}
.y22{bottom:48.800000pt;}
.y4{bottom:48.826667pt;}
.y10{bottom:48.840000pt;}
.y1c{bottom:55.866667pt;}
.y29{bottom:63.840000pt;}
.y21{bottom:64.160000pt;}
.yf{bottom:64.200000pt;}
.y20{bottom:79.520000pt;}
.ye{bottom:79.560000pt;}
.y28{bottom:79.840000pt;}
.y27{bottom:80.000000pt;}
.y2c{bottom:81.312000pt;}
.y0{bottom:82.000000pt;}
.y1b{bottom:83.866667pt;}
.y1f{bottom:94.880000pt;}
.yd{bottom:94.920000pt;}
.y1a{bottom:105.306667pt;}
.yc{bottom:110.120000pt;}
.y19{bottom:121.466667pt;}
.yb{bottom:125.480000pt;}
.y26{bottom:139.066667pt;}
.ya{bottom:140.840000pt;}
.y18{bottom:149.626667pt;}
.y9{bottom:156.200000pt;}
.y17{bottom:165.626667pt;}
.y16{bottom:187.066667pt;}
.y15{bottom:203.226667pt;}
.y24{bottom:255.546667pt;}
.y1e{bottom:325.666667pt;}
.y14{bottom:456.866667pt;}
.y8{bottom:696.573333pt;}
.y3{bottom:903.653333pt;}
.y2{bottom:1043.520000pt;}
.hc{height:33.760000pt;}
.h9{height:39.943750pt;}
.ha{height:46.112000pt;}
.h2{height:55.220937pt;}
.h5{height:56.076875pt;}
.hd{height:61.208750pt;}
.h3{height:61.312000pt;}
.h4{height:87.840000pt;}
.hb{height:92.480000pt;}
.h8{height:107.200000pt;}
.h6{height:168.666667pt;}
.h7{height:215.706667pt;}
.h1{height:836.000000pt;}
.h0{height:1056.000000pt;}
.w3{width:156.026642pt;}
.w1{width:463.333333pt;}
.w4{width:659.973333pt;}
.w2{width:815.999988pt;}
.w0{width:816.000000pt;}
.x1{left:0.000012pt;}
.x2{left:9.599975pt;}
.x6{left:52.959975pt;}
.x5{left:60.639975pt;}
.x9{left:63.359975pt;}
.x8{left:71.519975pt;}
.x7{left:74.399975pt;}
.xa{left:75.999975pt;}
.x0{left:153.333333pt;}
.x3{left:156.026667pt;}
.x4{left:460.906667pt;}
}
