
body{
		background: lightgrey;
		background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/ZosI56d/curly-wave-of-light-green-smoke-on-white-background-abstract-motion-background_smgx7_1xl_thumbnail-full08.png")
	}
a{
		color:rgb(34,139,34);
	}
a:hover{
		color: rgb(255,0,0)
	}
h1 {
    font-size: 80px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:	rgb(50,205,50);
    border: 20px;
    box-shadow: 5px, 20px,;
    border-color: rgb(50,205,50);
}
p{
	text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:	rgb(34,139,34);
    font-size: 20px;

} 
section{
	text-align: center;
	background-color: rgb(152,251,152);
	color: white;
	margin-left: 605px;
	margin-right:400px;
	width: 695px;
	border:10px;
	box-shadow: 5px,10px;
	padding-left:5px;
	padding-top:10px;
	float: right;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}
img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-radius: 50%;
}
ul{
	list-style: somali;
}
h2{
	text-decoration: underline;
}
ol{
	list-style: square;
}
div{

	text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:	rgb(50,205,50) ;
    font-size: 50px;
}
.section{
	text-align: center;
	background-color: rgb(152,251,152);
	color: white;
	margin-left: 600px;
	margin-right:400px;
	width: 700px;
	border:10px;
	box-shadow: 5px,10px;
	padding-left:5px;
	padding-top:10px;
	float: right;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}	
